@charset "UTF-8";

/* 回答はここに書いてね */

.q4_content{
  background-color: #ecf1f2;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.table {
  display: table;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.item {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 20px;
}

.item.orange {
  width: 100px;
  background-color: #fdc8b8;
}

.item.pink {
   background-color: #e0abd9;
 }

.item.blue {
  width: 100px;
  background-color: #b6d8ed;
}

.table:last-child {
  display: table;
  width: 100%;
  margin-bottom: 0px;
}

.item.yellow {
  background-color: #e5d32c;
}

.item.red {
  background-color: #ec8f9a;
}

.item.green {
  background-color: #8fdcad;
  width: 500px;
}

/* 回答はここに書いてね */
