@charset "UTF-8";

/* 回答はここに書いてね */

.q3-table {
  width: 100%;
  border: 1px solid #dedede;
  table-layout: fixed;
}

.q3-table td, .q3-table th {
  border: 1px solid #dedede;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.q3-table td, .q3-table th {
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  background-color: #2244aa;
}

.q3-table td {
  font-size: 16px;
  line-height:22px;
  background-color: #fff;
  color: #000;
}

.q3-table tr:nth-child(odd) td {
  background-color: #ecf1f2;
}

.q3-table tr:last-child {
  border-top: dashed #000 2px;
}

/* 回答はここに書いてね */
